{% extends 'header.html' %}

{% block head %}


<title>Thyroid Predictor</title>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


    <form action="/predict" method="post">
      <legend></legend>
      <div class="mb-3">
        <!--<label class="form-label">Age</label>-->
        <input class="form-control" type="number" name="age" placeholder="Enter Age" required>
      </div>
      <div class="mb-3"">
                <!--<label class=" form-label">Sex</label>-->
        <select class="form-control" name="sex" required>
          <option value="">Sex</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>

      </div>
      <div class="mb-3">
        <!--<label class="form-label">On Thyroxine</label>-->
        <select class="form-control" name="on_thyroxine" required>
          <option value="">Thyroxine Therapy</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>


      </div>

      <!--
            <div class="mb-3">
                <label class="form-label">Query on Thyroxine</label>
                <select class="form-control" name="query_on_thyroxine" required>
                  <option value="">Query on Thyroxine</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
            </div>
            -->

      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="on_antithyroid_medication" required>
          <option value="">On Antithyroid Medication</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>

      </div>
      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="sick" required>
          <option value="">Sick</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="pregnant" required>
          <option value="">Pregnant</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="thyroid_surgery" required>
          <option value="">Thyroid Surgery</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">I131_treatment</label>-->
        <select class="form-control" name="I131_treatment" required>
          <option value="">I131 Treatment</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>

      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="query_hypothyroid" required>
          <option value="">Query Hypothyroid</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="query_hyperthyroid" required>
          <option value="">Query Hyperthyroid</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="lithium" required>
          <option value="">Lithium</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label"></label>-->
        <select class="form-control" name="goitre" required>
          <option value="">Goitre</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">tumor</label>-->
        <select class="form-control" name="tumor" required>
          <option value="">Tumor</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">hypopituitary</label>-->
        <select class="form-control" name="hypopituitary" required>
          <option value="">Hypopituitary</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">psych</label>-->
        <select class="form-control" name="psych" required>
          <option value="">psych</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>

      <div class="mb-3">
        <!--<label class="form-label">TSH</label>-->
        <input class="form-control" type="number" name="tsh" placeholder="Enter TSH" required>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">T3</label>-->
        <input class="form-control" type="number" name="t3" placeholder="Enter T3" required>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">TT4</label>-->
        <input class="form-control" type="number" name="tt4" placeholder="Enter TT4" required>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">T4U</label>-->
        <input class="form-control" type="number" name="t4u" placeholder="Enter T4U" required>
      </div>
      <div class="mb-3">
        <!--<label class="form-label">FTI</label>-->
        <input class="form-control" type="number" name="fti" placeholder="Enter FTI" required>
      </div>

      <!--
            <div class="mb-3">
                <label class="form-label">referral_source_other</label>
                <select class="form-control" name="referral_source" required>
                  <option value="">Select Referral_Source</option>
                  <option value="0">SVHC</option>
                  <option value="1">SVHD</option>
                  <option value="2">SVI</option>
                  <option value="3">Other</option>
                  
                </select>
            </div>
          -->

      <div class="mb-3">

        <input class="btn btn-primary" type="submit" value="Predict Diseased State" required />
      </div>

    </form>
  </div>


  <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
    <div class="card">
      <!--<div class="card-header"></div>-->
      <div class="card-body">

        {% if context['thyroid_data'] is not none %}

        <table class="table table-striped">
          <caption>Thyroid Disease State Prediction</caption>
          <tr>
            <th>Input Feature</th>
            <th>Feature Value</th>
          </tr>
          {% for column, value in context['thyroid_data'].items() %}
          <tr>
            <td>{{ column }}</td>
            <td>{{ value[0] }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>thyroid_prediction_value</td>
            <td>{{ context['thyroid_prediction_value'] }}</td>
          </tr>
        </table>



        {% else %}

        <!--
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to make prediction about diseased state of thyroid</p>
              -->

        <form method="POST" action="{{url_for('predict_bulk')}}" enctype="multipart/form-data">
          <div class="form-group">
            <label for="file"></label>
            <input type="file" id="file" name="file" accept=".csv" required>
          </div>
          <button type="submit" class="btn btn-primary">Bulk Prediction</button>
        </form>
      </div>


      {% endif %}

      <!--
        <a href="/" class="btn btn-primary">Home</a> 
        -->

    </div>
  </div>



</div>

{% endblock %}